
  body{
    background-color: #d7a4b7;
    width:1800px;
  }
  header{
    position:fixed;
    width:100%;
    margin-top:-10px;
    margin-left:-10px;
    height:150px;
    background-color: white;
  }
  
  img{
    max-height: 150px;
    float:left;
  }

  nav{
      text-align:center;
      margin-top:100px;
  }

  nav ul{
      list-style-type: none;
      margin:0;
      padding:0;
  }

  nav ul li{
      display:inline-flex;
      flex-direction: row;
      line-height:47px;
      width:15%;
      border:2px solid #d7a4b7;
      justify-content: center;
      font-family: 'Limelight', cursive;
    
  }

  nav ul li a{
      color:#d7a4b7;
      width:100%;
     
  }

  nav ul li a:hover{
    background-color: #d7a4b7;
    color:white;
    
  }
