@media (min-width:1900px)  {
  body{
    width:100%;
  }
  header{
    width:100%;
  }
}
*{margin:0;
   
}

 body{
  background-color:#d7a4b7;
  
}

 header{
  position:fixed;
  background-color:white;
  height:79px;
  
}

img{
 height:79px;
 width:750px;
}

 nav {
  float:right;
  width:600px; 
  padding-top:51px;
}

 nav ul {
  list-style-type:none;
  display:flex;
  flex-direction:row;
  float:right;
  text-align:center;
}
 
 nav ul li {
  background-color:white;
  border:1.5px solid #d7a4b7;
  height:26px;
  width:200px;	
  border-radius:2px;
  font-family: 'Limelight', cursive;
  
}

nav ul li a{
 display:block;
 color: #d7a4b7;
 font-weight:bold;
 text-decoration:none;
 letter-spacing:1px;
 height:26px;
 transition: background-color .5s;
 text-align:center;
}
nav ul li a:hover{
 color:white; 
 background-color:#d7a4b7; 

}


 #sub{
  display:none;
  flex-wrap:wrap;
  position:inherit;
}


 nav ul li:hover #sub{
  display:block;
}